@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/***********
   General
***********/

/**********

**********/



.logo {
    font-family: 'Monoton', cursive;
}

