@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: Blk; 
    src: url('Blackout\ Sunrise.ttf');
}

/***********
   General
***********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {

    //background-size: ;
    //background-position: center;
    
    //background-color: skyblue;
}
section {
    //height: 100vh;
    margin: 0 5rem ;
}
.btn {
    border:1px solid black;
    border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 2rem;
    font-weight:500;
    color: black;
    //background: #acd9f4;
    font-family: Blk;
    position: relative;
    z-index: 1;
}
.btn::before {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    z-index: -1;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
.btn:hover::before {
    transform: scaleX(1);
    transform-origin:left; 
}

h1 {
    position: relative;
    z-index: 1;
    display: inline-block;
}
h1::after{
    content: '';
    position: absolute;
    background: currentColor;
    left:0;
    bottom: 0;
    height:2px;
    width:100%;
    z-index: -1;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
h1:hover::after{
    transform: scaleX(1);
    transform-origin:left;
}

.title-ctr {
    width:100%;
    display:flex;
    justify-content: flex-end;
}
/***********
 Typography
***********/
h1 {
    font-family: Blk;
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
/**********
    NAV
**********/


.nav {
    padding:20px;
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;
}
.logo {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    color:rgb(126, 123, 123);
}
.menu {
    display: flex;
    align-items: center;
    i {
        font-size: 25px;
        color: #92acc3;
        margin-left:1em;
    }
}

/**********
    HERO
**********/
.hero {
    height: 100vh;
    display:flex;
    align-items: center;
    //background-color: skyblue;
    //background-size: 50%;
    .txt-ctr{
        //height:100%;
        width: 50%;
        //background-color: #de9e57;
        .txt-wrap{
            //transform: translateX(23%);
            margin-bottom: 10%;
        }
        h2 {
            //transform: translateX(23%);
            margin-top: 2rem; 
        }
        h3 {
            //transform: translateX(-9%);
            margin: 0rem 0 1rem 0; 
            //text-align: end;    
        }
    }
    .btn-ctr {
        text-align: end;
        //transform: translateX(50%);
        .btn {
            margin-right:1rem;
        }
    }

    .img-ctr{
        height:100%;
        width:40%;
        background-color: #de9e57;
        display:flex;
        align-items: center;
        img {
            width:100%;
            transform: translateX(5%);
            transition: all .15s ;
        }
        img:hover {
            rotate: 25deg;
            transform: translateY(-10%);
        }
    }
}


/**********
   SKILLS
**********/

.skills {
    //display:flex;
    margin-top:4%;
    
    .sk-icon-ctr ul {
        width:80%;
        margin-left:10%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            width: 25%;
            text-align: center;
            margin-top:1.5%;
            margin-bottom: .5%;
            img{
               width:50%; 
            }
            .html-logo {
                transform: scale(.8);
            }
            .react-logo {
                transform: scale(.9);
            }
            .sass-logo {
                transform:scale(1);
                margin-bottom: 6.5%;
                padding-top: 6.5%;
            }
            .git-logo {
                transform: scale(.85);
            }
            .node-logo {
                transform: scale(.85);
            }
            P {
                text-align: center; 
                font-size: 1.5rem;
            }
        }
    }
}

/***********
  PROJECTS
***********/
.projects {
    margin-top:4%;
    h1{
        margin-bottom: 2.5%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;

        .img-ctr{
            width:40%;

            .img1 {
                background: url('/imgs/vpnflix-still.png');
            }
            .img2 {
                background: url('/imgs/firewall.png');
            }
            .img3 {
                background: url('/imgs/hotp-still.png');
            }
            .img4 {
                background: url('/imgs/travel-still.png');
            }
            .img{
                //width:100%;
                height: 220px;   
                background-size: contain;
                background-repeat: no-repeat;
                //object-fit: cover;
                transition: .3s ease-out;
            }
        
        }
        .img-ctr:hover .img1{
            background-image: url('/imgs/vpnflixhover-min.gif');
            transform: scale(1.1);
        }
        .img-ctr:hover .img2{
            background-image: url('/imgs/firewallhover-min.gif');
            transform: scale(1.1);
        }
        .img-ctr:hover .img3{
            background-image: url('/imgs/hotp-min.gif');
            transform: scale(1.1);
        }
        .img-ctr:hover .img4{
            background-image: url('/imgs/travel-email-min.gif');
            transform: scale(1.1);
        }

        .description{
            flex-basis:60%;
            display: flex;
            justify-content: center;
            .details {
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .blurb {
                    
                }
            }
            .links {
                i {
                font-size: 2.5rem;
                }
                .fa-github{
                    margin-right: 1.3rem;
                }
            }
            .lk1 i{
                color: #dc1a28;
            }
            .lk2 i{
                color: #f36e21;
            }
            .lk3 i{
                color: #846c63;
            }
            .lk4 i{
              color: #003399;  
            }
            .vpn-logo {
                width:110px;
                
            }
            .sw-logo {
                width: 158px;
            }
        }
    }
}


/***********
   CONTACT
***********/

.contact {
    height: 100vh;
    margin-top:4%;
    .contact-ctr{
        display: flex;
    }
    .gif-ctr{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #5edfa7;
        img{
            max-width: 300px;
            transform: translate(110%, 30%);
        }
        span {
            margin: 0 auto;
        }
    }
    form {
        font-size: 1rem;
        margin-top: 3%;
        margin-bottom: 10%;
        margin-left:10%;
        width:30%;
        padding:10px;
        border: 1px solid #ffca60;
        border-radius: 4px;
        background: #ffca60;
        ul {
            margin-bottom: 5%;
            li{
                list-style: none;
                margin-top: 5px;
            }
            label {
                display: block;
            }
            input, textarea {
                padding:8px 6px;
                margin-top: 5px;
                width: 100%;
                border: 1px solid #ffca60;
                border-radius: 4px;
            }
            textarea {
                resize: none;
            }
        }
        .btn-ctr {
            text-align: center;
        }
    }
}



/**********
   FOOTER
**********/

footer {
    .ft-ctr span{
        margin-left:10%;
    }
}