@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@font-face {
    font-family: Blk; 
    src: url('Blackout\ Sunrise.ttf');
}

/***********
   General
***********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {

    //background-size: ;
    //background-position: center;
    
    //background-color: skyblue;
}
section {
    //height: 100vh;
    margin: 0 5rem ;
}
.btn {
    //border:2px solid rgba(0,0,0, .2);
    //border-radius: 4px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 2rem;
    font-weight:700;
    color: black;
    //background: #acd9f4;
    font-family: Blk;
    position: relative;
    //z-index: 1;
    display: inline-block;
    letter-spacing: 2px;
    //transition: 0.5s;
}
/*.btn:hover {
    font-weight: 700;
}*/
.btn span{
    display: block;
    position: absolute;
    background: black;
}
.btn span:nth-child(1) {
    left:0;
    bottom: 0;
    width:2px;
    height: 100%;
    transform:scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}
.btn:hover span:nth-child(1) {
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}
.btn span:nth-child(2) {
    left:0;
    bottom: 0;
    width:100%;
    height: 2px;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.btn:hover span:nth-child(2) {
    transform:scaleX(1);
    transform-origin: left;
    transition: transform .5s;
}
.btn span:nth-child(3) {
    right:0;
    top: 0;
    width:100%;
    height: 2px;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.btn:hover span:nth-child(3) {
    transform:scaleX(1);
    transform-origin: right;
    transition: transform .5s;
}
.btn span:nth-child(4) {
    right:0;
    top: 0;
    width:2px;
    height: 100%;
    transform:scaleY(0);
    transform-origin: bottom;
    transition: transform .5s;
}
.btn:hover span:nth-child(4) {
    transform:scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}
/*.btn::before {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: 100%;
    background: rgba(252, 214, 0, 0.25);
    z-index: -1;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
.btn:hover::before {
    transform: scaleX(1);
    transform-origin:left; 
}*/

h1 {
    position: relative;
    z-index: 1;
    display: inline-block;
}
h1::after{
    content: '';
    position: absolute;
    background: currentColor;
    left:0;
    bottom: 0;
    height:2px;
    width:100%;
    z-index: -1;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}
h1:hover::after{
    transform: scaleX(1);
    transform-origin:left;
}

.title-ctr {
    width:100%;
    display:flex;
    justify-content: flex-end;
}

@media (max-width:780px){
    section{
        margin:0 1rem;
    }
    h1{
        font-size:3rem; 
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
}
/***********
 Typography
***********/
h1 {
    font-family: Blk;
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
/**********
    NAV
**********/


.nav {
    padding:20px;
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;

    .logo-ctr{
        text-decoration: none;
        
        .logo {
            font-family: 'Monoton', cursive;
            font-size: 30px;
            color:rgb(126, 123, 123);
        }
    }

    .menu {
        display: flex;
        align-items: center;
        i {
            font-size: 25px;
            color: #343138; //#92acc3;
            margin-left:1em;
            z-index: 10;
        }
    }
    
}



/**********
    HERO
**********/
.hero {
    height: 100vh;
    display:flex;
    align-items: center;
    //background-color: skyblue;
    //background-size: 50%;
    .txt-ctr{
        //height:100%;
        width: 50%;
        //background-color: #de9e57;
        .txt-wrap{
            //transform: translateX(23%);
            margin-bottom: 10%;
        }
        h2 {
            //transform: translateX(23%);
            margin-top: 2rem; 
        }
        h3 {
            //transform: translateX(-9%);
            margin: 0rem 0 1rem 0; 
            //text-align: end;    
        }
    }
    .btn-ctr {
        text-align: end;
        //transform: translateX(50%);
        .btn {
            margin-right:1rem;
        }
    }

    
    .img-ctr{
        height:100%;
        width:40%;
        background-color: #de9e57;
        display:flex;
        align-items: center;
        img {
            width:100%;
            transform: translateX(5%);
            transition: all .15s ;
        }
        img:hover {
            rotate: 25deg;
            transform: translateY(-10%);
            //transition: all .15s ;
        }
    }
}

@media (max-width:900px) {
    .hero {
        .txt-ctr{
            width: 80%;
            .btn-ctr{
                text-align: center;
            }
        }
        .img-ctr{
            width: 20%;
        }
    }
}
/**********
   SKILLS
**********/

.skills {
    //display:flex;
    margin-top:4%;
    
    .sk-icon-ctr ul {
        width:80%;
        margin-left:10%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            list-style: none;
            width: 25%;
            text-align: center;
            margin-top:1.5%;
            margin-bottom: .5%;
            img{
               width:50%; 
            }
            .html-logo {
                transform: scale(.8);
            }
            .react-logo {
                transform: scale(.9);
            }
            .sass-logo {
                transform:scale(1);
                margin-bottom: 6.5%;
                padding-top: 6.5%;
            }
            .git-logo {
                transform: scale(.85);
            }
            .node-logo {
                transform: scale(.85);
            }
            P {
                text-align: center; 
                font-size: 1.5rem;
            }
        }
    }
}
@media (max-width:600px) {
    .skills {
        .sk-icon-ctr {
            ul li {
                width:50%;
            }
        }
    }
}
@media (max-width:480px) {
    .skills {
        .sk-icon-ctr {
            margin-bottom: 4%;
            ul li {
                width:100%;
            }
        }
    }
}

/***********
  PROJECTS
***********/
.projects {
    margin-top:4%;
    h1{
        margin-bottom: 2.5%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5%;

        .img-ctr{
            width:40%;
            display:flex;
            align-items: center;
            .row-img{
                width:100%;
                transition: all .3s ease-out;
            }
            /*.test-img-hov{
                //transform:scale(0);
                height:0;
                transition: all .3s ease-out;
            }
            .img1 {
                background: url('/imgs/vpnflix-still.png');
            }
            .img2 {
                background: url('/imgs/firewall.png');
            }
            .img3 {
                background: url('/imgs/hotp-still.png');
            }
            .img4 {
                background: url('/imgs/travel-still.png');
            }
            .img{
                //width:100%;
                height: 220px;   
                background-size: contain;
                background-repeat: no-repeat;
                //object-fit: cover;
                transition: .3s ease-out;
            }
            */
        }

        .description{            
            flex-basis:60%;
            display: flex;
            justify-content: center;
            .details {
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .blurb {
                    
                }
            }
            .links {
                display:flex;
                a:hover i{
                    transform: translateY(-10%);
                    //transition: transform .4s ease-in;
                }
                i {
                font-size: 2.5rem;
                }
                .fa-github{
                    margin-right: 1.3rem;
                }
            }
            .lk1 i{
                color: #dc1a28;
            }
            .lk2 i{
                color: #f36e21;
            }
            .lk3 i{
                color: #846c63;
            }
            .lk4 i{
              color: #003399;  
            }
            .vpn-logo {
                width:110px;
                
            }
            .sw-logo {
                width: 158px;
            }
        }
    }
    /*.row1:hover .test-img{
        //height:0;
        transform: scale(1.1);
    }
    .row1:hover .test-img-hov{
        width:100%;
        transform: scale(1.1);
        height:auto;
    }
    .row1:hover .img1{
        background-image: url('/imgs/vpnflixhover-min.gif');
        transform: scale(1.1);
    }
    .row2:hover .img2{
        background-image: url('/imgs/firewallhover-min.gif');
        transform: scale(1.1);
    }
    .row3:hover .img3{
        background-image: url('/imgs/hotp-min.gif');
        transform: scale(1.1);
    }
    .row4:hover .img4{
        background-image: url('/imgs/travel-email-min.gif');
        transform: scale(1.1);
    }
    */
    .row:hover .row-img {
        transform: scale(1.1);
    }
}

//@media (max-width: 480px) {
@media (max-width: 630px) {
    h1 {
        font-size: 3rem;
    }

    .projects {
    margin: 0 1rem;

        .row{
            flex-direction: column;
            .img-ctr{
                width:100%;
                justify-content: center;
               /* .img {
                    height: 190px;
                }*/
                .row-img{
                    width: 90%;
                }
            }
            .description{
                flex-basis: 100%;
                margin-top: 3%;
                .details{
                    width: 90%;
                    .blurb{
                        margin: 5% 0;
                    }
                }
            }
        }
        .row2, .row4{
            flex-direction: column-reverse;
        }
    }

}

/*@media (max-width: 630px) {
    .project {
        .img-ctr{
            width:75%;
        }
    }

}*/
@media (max-width: 780px) {
    .project {
        .img-ctr{
            width:60%;
        }
    }

}
@media (max-width: 900px) {
    .project {
        .img-ctr{
            width:65%;
        }
    }

}

/***********
   CONTACT
***********/

.contact {
    height: 100vh;
    margin-top:4%;
    .contact-ctr{
        display: flex;
    }
    .gif-ctr{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #5edfa7;
        .cont-blurb {
            text-align: center;
            line-height: 2;
            p {
                font-size: 1.2rem;
                margin-top: 3%;
            }
            .p2{
                margin-top: 15%;
            }
        }
        img{
            max-width: 300px;
            transform: translate(60%, 30%);
        }
        span {
            margin: 0 auto 1rem auto;
        }
    }
    form {
        font-size: 1rem;
        margin-top: 3%;
        margin-bottom: 10%;
        margin-left:10%;
        width:30%;
        padding:10px;
        border: 1px solid #ffca60;
        border-radius: 4px;
        background: #ffca60;
        ul {
            margin-bottom: 5%;
            li{
                list-style: none;
                margin-top: 5px;
            }
            label {
                display: block;
            }
            input, textarea {
                padding:8px 6px;
                margin-top: 5px;
                width: 100%;
                border: 1px solid #ffca60;
                border-radius: 4px;
            }
            textarea {
                resize: none;
            }
        }
        .btn-ctr {
            text-align: center;
        
            button {
                background:transparent;
                border-style: none;
            }
        }
        
        
    }
}

@media (max-width: 1150px) {
    .contact {
        .gif-ctr img {
            transform: translate(35%,30%);
        }
        form{
            margin-left: auto;
            width: 35%;
        }

    }
} 

@media (max-width: 900px) {
    .contact-ctr {
        flex-direction: column-reverse;
        .gif-ctr {
           align-self: center;
           width:100%;
           img{
            transform: translate(0%,30%);
           }
        }
        form{
            align-self: center;
            margin-left: 0;
            width: 50%;
            margin-bottom:1%;
        }

    }
}
@media (max-width: 600px) {
    .contact {
        form {
            width:85%
        }
        .gif-ctr{
            //width: 100%;
            img {
                display: none;
            }
            .cont-blurb{
                p, .p2{
                    font-size: 1rem;
                }
                .p2{
                    margin:2.5% 0;
                }
            }
            .footer{
                font-size: 12px;
            }
        }
    }
} 

/**********
   FOOTER
**********/

footer {
    .ft-ctr span{
        margin-left:10%;
    }
}